body{
    background-color: #111930;
    color: #e1e6f7;
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    text-align: center;

}
div{
    
    width: 300px;
    text-align: center;
}
li{
    color: rgb(80, 233, 9);
}
img{
    width: 300px;
}
a{
    text-decoration: overline;
    text-transform: lowercase;
    color: rgb(235, 10, 10);
}